body
{
background-color:RGB(25,16,37);
color:white;
}
#content
{
	width:800px;
	margin-left:60px;
    text-align:center;
}

#banner
{
	/*margin-left:-20px;
	margin-top:50px;*/
}

#navbar
{
	font-size:14px;
	margin-top:20px;
    margin-left:auto;
    margin-right:auto;
} 

#navbar td
{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	cursor:pointer;
	cursor:hand;
}

#navbar .active
{
	color:RGB(84,9,84);
}

#story
{
width:650px;
text-align:left;
margin-top:10px;
margin-left:auto;
margin-right:auto;
font-size:12px;

}
