body
{
    background-color:RGB(25,16,37);
    color:white;
    text-align:center;
}
#content
{
	width:1000px; 
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

#banner
{
	/*margin-left:-20px;
	margin-top:50px;*/
}

#navbar
{
    width:900px;
	font-size:18px;
	margin-top:20px;
    text-align:left;
    margin-left:50px;
} 

#navbar td
{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	cursor:pointer;
	cursor:hand;
}

#navbar .active
{
	color:RGB(84,9,84);
}

#story
{
    width:820px;
    margin-left:65px;
    margin-top:90px;
    font-size:18px;

}

#showtimes td
{
padding-right:20px;
}

