body
{
    background-color:RGB(25,16,37);
    color:white;
    text-align:center;
}
#content
{
	width:1000px; 
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    margin-bottom:40px;
    text-align:left;
}

#banner
{
    cursor:pointer;
	cursor:hand;
}

#navbar
{
    width:900px;
	font-size:18px;
	margin-top:20px;
    text-align:left;
    margin-left:70px;
} 

#navbar a
{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
    color: #fff;
    text-decoration: none;
}

#navbar a:hover {
    color: RGB(130,60,140);
}

#navbar .active
{
	color:RGB(130,60,140);
}

#story
{
    width:820px;
    margin-left:85px;
    margin-top:90px;
}

#showtimes
{
    width: 400px;
    display:inline;
    float:left;
}

#front_page_feather
{
    margin-top:-80px;
    margin-left:55px;
    display:inline;
    float:left;
}

#showtimes td
{
    padding-right:20px;
}

